{% extends 'apps/lei.html' %}



{% block title %} Главная страница {% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>

        <p>privetik</p>
        <button class="btn btn-warning">{% filter upper %}To the page about us{% endfilter %}</button>

        {% for el in values %}
            {% if el == 'Hello' %}
                {% filter lower %}
                    <p>{{ el }}</p>
                {% endfilter %}
            {% endif  %}
        {% endfor %}

        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock %}